* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  scroll-behavior: smooth;
}
body {
  background-image: url(./pxfuel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: lightskyblue;
  font-size: 1rem;
}
a:hover {
  background: lightskyblue;
  padding: 8px 5px;
  color: black;
  border-radius: 10px;
  transition: 0.4s ease;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  position: relative;
  padding: 0 2rem;
  background: #333;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a:hover,
.dropdown-menu a:hover{
  background: transparent;
  color: #fff;
  transition: all 0.4s ease;
  font-size: 18px;
}
.navbar .logo a {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar .logo a:hover0 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 999;
}
.action-btn {
  background: lightskyblue;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 50px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.3s ease;
}
.action-btn:hover {
  scale: 1.07;
  color: #fff;
}
.action-btn:active {
  scale: 0.95;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(0, 4, 255);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li a {
  color: #fff;
  transition: all 0.6s ease;
}
.dropdown-menu li a:hover {
  background: #333;
}
.dropdown-menu.open {
  height: 240px;
  z-index: 9999;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 20rem;
}
#hero h1 {
  color: lightgreen;
  font-size: 5rem;
  margin-bottom: 0.2rem;
}
#hero p {
  color: lightgreen;
  width: 300px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
#hero a {
  box-sizing: border-box;
  padding: 10px 10px;
  background: crimson;
  margin-bottom: 20px;
  border-radius: 15px;
  color: #fff;
}
#hero a:hover {
  background: transparent;
  border: 3px solid crimson;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  margin-top: 5rem;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.responsive-table th,
.responsive-table td {
  border: 2px solid #333;
  padding: 10px;
  text-align: left;
}

.responsive-table th {
  background-color: #ddd;
}

@media screen and (max-width: 976px) {
  .navbar .links,
  .navbar .action-btn {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 678px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
  .responsive-table {
    display: block;
  }

  .responsive-table tr {
    margin-bottom: 15px;
    display: block;
  }

  .responsive-table th,
  .responsive-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 13px;
  }
}

.card {
  position: relative;
  width: 290px;
  height: 200px;
  background: #fff;
  margin-left: 40%;
  transition: 0.5s;
}
.card:hover {
  height: 380px;
}
.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}
.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}
.card .imgbx {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
.card:hover .imgbx {
  width: 250px;
  height: 250px;
}
.card .imgbx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate2 5s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.card .imgbx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}
.card .imgbx img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 30px);
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}
.card:hover .content .details {
  transform: translateY(0px);
}
.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.2em;
}
.card .content .details h2 i {
  font-size: 1.55em;
  font-weight: 600;
  color: red;
  margin-right: 5px;
  line-height: 1.2em;
}
.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.card .content .details .data h3 {
  font-size: 1em;
  color: #45f3ff;
  line-height: 1.2em;
  font-weight: 600;
}
.card .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card .content .details .actionBtn a {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  background: rgb(252, 0, 0);
  color: white;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s ease;
}
.card .content .details .actionBtn a:nth-child(2) {
  background: #333;
  font-size: 1em;
  padding: 10px 15px;
}
.card .content .details .actionBtn a:hover {
  opacity: 1;
}
@media screen and (max-width: 700px) {
  .card {
    position: relative;
    width: 290px;
    height: 190px;
    background: #fff;
    margin-left: 5%;
    transition: 0.5s;
  }
  section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 15rem;
  }
}
@media screen and (max-width: 567px) {
  .card {
    position: relative;
    width: 270px;
    height: 190px;
    background: #fff;
    margin-left: 15%;
    transition: 0.5s;
  }
}
